@use './variables' as v;

.main__container {
    display: grid;
    grid-template-columns: 20% 50% 20%;
    height: auto;
    margin: 0 125px;
    @media (max-width: 375px) {
        display: flex;
        width: 375px;   
        margin: 0;
    }
}