@use './variables' as v;

.left_container {
    padding-top: 10px;
    font-size: 20px;
    font-weight: 500;
    // font-weight: 700;   // APENAS ATIVADO VALE A PENA POR 
    @media (max-width: 375px) {
        display: none;    
    }
}
.left__container--box {
    position: fixed;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: v.$white-title;
}

.left__container--box-item {
    border-radius: 30px;
    align-items: center;
    height: 50px;
    padding-right: 15px;
    width: auto;
    display: flex;
    cursor: pointer;
    gap: 10px;
    &:hover {
        // background-color: v.$bg-border;
        opacity: 0.9;
        background-color: rgba(255,255,255,.1)
    }
}
.icons-left {
    cursor: pointer;
    font-size: 25px;
}